.grid {
  display: grid;
  grid-gap: 40px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 45px 110px;
  justify-items: center;

  pokemon-details {
    width: 200px;
    height: 300px;
  }
}

.no-pokemon-message {
  text-align: center;
  margin: 10%;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  line-height: 2;
}
