
<div
  *ngIf="pokemon?.size; else message"
  class="grid"
>

  <pokemon-summary
    *ngFor="let pokemon of filteredPokemon | keyvalue"
    [pokemonName]="pokemon.key"
    [pokemonUrl]="pokemon.value"
  ></pokemon-summary>

</div>

<ng-template #message>
  <p class="no-pokemon-message">
    No Pokémon found... <br>
    :(
  </p>
</ng-template>

<mat-paginator 
  [length]="pagination.length"
  [pageSize]="pagination.pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  (page)="paginate($event)"
></mat-paginator>
