<ng-container *ngIf="showSpinner; else grid">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #grid>

  <div
    *ngIf="pokemon?.size; else message"
    class="grid"
  >
  
    <pokemon-summary
      *ngFor="let pokemon of pokemon | keyvalue"
      [pokemonName]="pokemon.key"
      [pokemonUrl]="pokemon.value"
    ></pokemon-summary>
  
  </div>
  
  <ng-template #message>
    <div class="no-pokemon-message">
      No Pokémon found... <br>
      <h1>😢</h1>
    </div>
  </ng-template>
  
  <mat-paginator
    *ngIf="pagination"
    [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="paginate($event)"
  ></mat-paginator>

</ng-template>
