.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 170px);
  padding: 25px;
  overflow-y: overlay;
}

@media (max-width: 520px) {
  .wrapper {
    height: calc(100% - 342px);
  }
}
