@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import './assets/styles/colors.scss';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: none;
  color: #ffff;

  &:focus {
    outline: 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: transparent;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}
