@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
