@import '~@angular/material/theming';

// Define a theme.
$primary: theming.define-palette(palette.$pink-palette, 700, 500, 900);
$accent:  theming.define-palette(palette.$blue-grey-palette, A200, A100, A400);

$theme: theming.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));
