@import '../../../assets/styles/colors.scss';

nav {
  background: linear-gradient(0deg,#b40943,#e91e63);
  position: sticky;
  color: #ffff;
  line-height: 1em;
  display: flex;
}

h1 {
  margin: 0 2em;
  align-self: center;
}

.buttons {
  display: flex;
}

h1, .navigation-button {
  cursor: pointer;
}

.navigation-button {
  padding: 1em;
  margin: 1em;
  border-radius: 12%;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  transition: background 0.5s ease;
}

.selected span {
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: solid rgba(255, 255, 255, 1) 2px;
}

@media (max-width: 520px) {
  nav, .buttons {
    flex-direction: column;
    text-align: center;
  }
}
